Name: Dogiparthi Aasrith

Registration Number: 21BAI1702

In [1]:
import numpy as np
import pandas as pd

Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [2]:
data = {
    'Name' : ['Aasrith','Praneeth','Hemika','Kalayan','Charan','Devi','Nidhish','Hari','Abhi','Shobith'],
    'Student_ID' : [18,19,20,21,22,23,24,25,26,27],
    'University' : ['VIT', 'JNU', 'SRM', 'BHU','Manipal','VIT', 'JNU', 'SRM', 'BHU','Manipal'],
    'Age':[18,19,20,21,22,18,19,20,21,np.nan],
    'Branch':['BAI','CSE','BPS','BMS','BRS','BAI','CSE','BPS','BMS','BRS'],
}
df=pd.DataFrame(data)
df

       Name  Student_ID University   Age Branch
0   Aasrith          18        VIT  18.0    BAI
1  Praneeth          19        JNU  19.0    CSE
2    Hemika          20        SRM  20.0    BPS
3   Kalayan          21        BHU  21.0    BMS
4    Charan          22    Manipal  22.0    BRS
5      Devi          23        VIT  18.0    BAI
6   Nidhish          24        JNU  19.0    CSE
7      Hari          25        SRM  20.0    BPS
8      Abhi          26        BHU  21.0    BMS
9   Shobith          27    Manipal   NaN    BRS

Task- 2 Check the info of 'df'

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Student_ID  10 non-null     int64
 2   University  10 non-null     object
 3   Age         9 non-null      float64
 4   Branch      10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task 3- Check the descriptive statistics of 'df'

In [4]:
df.describe()

       Student_ID        Age
count    10.00000   9.000000
mean     22.50000  19.777778
std       3.02765   1.394433
min      18.00000  18.000000
25%      20.25000  19.000000
50%      22.50000  20.000000
75%      24.75000  21.000000
max      27.00000  22.000000

Task 4- check the 4th index observation with 'loc' slicing operator.

In [5]:
df.loc[4]

Name           Charan
Student_ID         22
University    Manipal
Age              22.0
Branch            BRS
Name: 4, dtype: object

Task 5 - Check the null values in your 'df'

In [6]:
df.isnull().sum()

Name          0
Student_ID    0
University    0
Age           1
Branch        0
dtype: int64

Filling null values

In [7]:
df.Age=df.Age.fillna(df.Age.mean())
df

       Name  Student_ID University        Age Branch
0   Aasrith          18        VIT  18.000000    BAI
1  Praneeth          19        JNU  19.000000    CSE
2    Hemika          20        SRM  20.000000    BPS
3   Kalayan          21        BHU  21.000000    BMS
4    Charan          22    Manipal  22.000000    BRS
5      Devi          23        VIT  18.000000    BAI
6   Nidhish          24        JNU  19.000000    CSE
7      Hari          25        SRM  20.000000    BPS
8      Abhi          26        BHU  21.000000    BMS
9   Shobith          27    Manipal  19.777778    BRS